<div class="container">
<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">order_time</th>
    <th scope="col">note</th>
    <th scope="col">name</th>
    <th scope="col">description</th>
    <th scope="col">price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{myOrder.order_time}}</th>
    <td>{{myOrder.note}}</td>
    <td>{{myOrder.name}}</td>
    <td>{{myOrder.description}}</td>
    <td>{{myOrder.price}}</td>
  </tr>
  </tbody>
</table>

<hr>
<button (click)="goBack()" type="submit" class="btn btn-primary">Back</button>
</div>
